{% extends "base.html" %}

{% block title %}StegoSafe{% endblock %}

{% block content %}

    <div class="modern-card-grid">
        <!-- Card 1 -->
        <div class="modern-card">
            <span class="modern-badge">1</span>
            <h2>Welcome</h2>
            <p>
                Where you land safely is your Secure and Private Image Steganography Assistant!

                <br>
                <br>
                View all tools for securing your privacy — Your Ideal Image Stego Platform!
            </p>
          
        </div>

        <!-- Card 2 -->
        <div class="modern-card">
            <span class="modern-badge">2</span>
            <h2>About</h2>
            <p>
                What StegoSafe does is develop fancy cryptographic tools to shove data into images.
                <br>
                <br>
              
                We exist to make digital privacy accessible and effective for everyone.
            </p>
           
        </div>
        <!-- Card 3 -->
        <div class="modern-card">
            <span class="modern-badge">3</span>
            <h2>Contact</h2>
            <p>
                Have questions or need support? Email us at  <a href="mailto:info@yoursite.com">info@StegoSafe.com</a> 
                <br>
                <br>
                or visit our contact page. We're here to help!
            </p>
           
        </div>
    </div>
</div>
{% endblock %}
