{% extends "base.html" %}

{% block title %}EXIF Data Editor{% endblock %}

{% block content %}
<div class="container">
    <div class="btn-group"></div>
    <h3>Add Metadata to Your Images</h3>

   
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" class="form-control mb-3" required>
        
        <label for="exif_option" class="form-label">Select to add Metadata</label>
        <select name="exif_option" id="exif_option" class="form-control mb-3" required onchange="updateInputField()">
            <option value="">Choose an option...</option>
            <option value="comment">Add Comment</option>
            <option value="creation_time">Set Creation Time</option>
            <option value="gps_location">Add GPS by Location Name</option>
            <option value="artist">Add Artist/Author</option>
             <option value="view">View Metadata</option>
        </select>
        
        <div id="input_container">
            <input type="text" name="exif_value" id="exif_value" placeholder="Enter value" class="form-control mb-3" required>
        </div>

        <div id="output_container">
            <textarea style="width: 100%; height: 400px; padding: 10px; font-family: monospace;" readonly></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Upload & Add Metadata</button>
        <br>
        
    </form>

    <script>
        function updateInputField() {
            const select = document.getElementById('exif_option');
            const input = document.getElementById('exif_value');
            const container = document.getElementById('input_container');
            
            switch(select.value) {
                case 'comment':
                    input.placeholder = 'Enter comment';
                    input.type = 'text';
                    break;
                case 'creation_time':
                    input.placeholder = 'YYYY:MM:DD HH:MM:SS';
                    input.type = 'text';
                    break;
                case 'gps_location':
                    input.placeholder = 'Enter location';
                    input.type = 'text';
                    break;
                case 'artist':
                    input.placeholder = 'Enter author name';
                    input.type = 'text';
                    break;
                case 'view':
                    break;
                default:
                    input.placeholder = 'Enter value';
                    input.type = 'text';
            }
            
            container.innerHTML = '<input type="text" name="exif_value" id="exif_value" placeholder="' + input.placeholder + '" class="form-control mb-3" required>';
        }
        
    </script>
    </div>
    
</div>
{% endblock %}